<div class="content-wrapper p-0">
    <div class="content-body">
        <div class="card border-dark">
            <div class="card-body">
                <div class="users-list-filter">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Filtrer par :</label>
                            <select class="form-control border-black" id="filters" [(ngModel)]="selectedFilter" (change)="getFilers()">
                                <option *ngFor="let filter of employeFilters" [value]="filter">{{ filter }}</option>
                            </select>
                            <small class="form-text text-muted">Select le fillter</small>
                        </div>
                        <div class="col-md-3" *ngIf="selectedFilter=='DEPARTEMENT'">
                            <label>Filtrer par :</label>
                            <select class="form-control border-black" id="departements" [(ngModel)]="selectedFilter">
                                <option *ngFor="let dept of departements" [value]="dept">{{ dept }}</option>
                            </select>
                            <small class="form-text text-muted">Select le departement</small>
                        </div>
                        <div class="col-md-3" *ngIf="selectedFilter=='SOCIETE'">
                            <label>Filtrer par Societe :</label>
                            <input type="text" class="form-control" placeholder="SOCIETE" [(ngModel)]="filterCriteria.societe">
                            <small class="form-text text-muted">Select la societe</small>
                        </div>
                        <div class="col-md-3" *ngIf="selectedFilter=='POSTE'">
                            <label>Filtrer par Poste :</label>
                            <input type="text" class="form-control" placeholder="DEPARTEMENT" [(ngModel)]="filterCriteria.poste">
                            <small class="form-text text-muted">Select le poste</small>
                        </div>

                        <div class="col-md-3">
                            <label>Filtrer par le Nom :</label>
                            <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="filterCriteria.nom">
                        </div>
                        <div class="col-md-3">
                            <label>Filtrer par Matricule :</label>
                            <input type="text" class="form-control" id="departement" placeholder="Matricule" [(ngModel)]="filterCriteria.matricule">
                        </div>


                    </div>
                </div>

            </div>
        </div>

        <div class="card border-black text-center">
            <ngx-datatable
                    [rows]="employeList"
                    [columnMode]="ColumnMode.force"
                    class="bootstrap core-bootstrap"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="50"
                    [scrollbarH]="true"
                    [limit]="pageSize"
                    [offset]="pageOffset"
                    [count]="employeList.length"
                    (page)="onPageChange($event)">

                <ngx-datatable-column name="Matricule" prop="matricule" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.matricule }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nom" prop="nom">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.nom }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Prénom" prop="prenom">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.prenom }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="email">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.coordonnees.email }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Département" prop="departement">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.department.deptName }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Poste" prop="poste">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.poste.intitule }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" [width]="120" [sortable]="false">
                    <ng-template ngx-datatable-cell-template>
                        <div class="d-flex align-items-center">
                            <div ngbDropdown container="body">
                                <a
                                        ngbDropdownToggle
                                        href="javascript:void(0);"
                                        class="hide-arrow"
                                        id="dropdownBrowserState"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                >
                                    <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                                </a>
                                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                                    <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                                    ><i data-feather="file-text" class="mr-50"></i> Details</a
                                    >
                                    <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                                    ><i data-feather="archive" class="mr-50"></i> Archive</a
                                    >
                                    <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                                    ><i data-feather="trash-2" class="mr-50"></i> Delete</a
                                    >
                                </div>
                            </div>

                            <i data-feather="edit" class="text-primary cursor-pointer"></i>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
